table.board {
  border: 1px solid green;
  height: 600px;
  width: 600px;
}
 
body {
  text-align: center;
  color:green;
  align: center;
  background-image: url('/1224226929547WarGames.jpg');
  background-color: black;
}
 
td {
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
  font-weight: bold;
  font-color: green;
  font-family: geniva, verdana, helvetica;
  border: 1px solid green;
}
 
#menu {
  text-align: center;
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: normal;
  color:#00FFFF;
  width: 300;
  height: 300;
  margin-left: 150px;
  margin-top: 150px;
  border: 5px double #00FFFF;
  display: none;
  vertical-align: middle;
  background-color: black;
}
 
#play_again {
  font-size: 20px;
  color: white; 
}
