<%namespace name="login" file="login.html" />
<html>
<head>
  <link href="board.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="board.js"></script>
  <script type="text/javascript">
$(document).ready(function() {
     TicTacToe.drawBoard();
});
</script>

   <title>Tic Tac Toe</title>
</head>
<body>
   <h1>Greetings</h1>

<table border="0px" align="center">
<tr><td>
<div id="menu"></div>
<div id="board"></div>
</td></tr>
</table>

<a href="tictactoe.tgz">Download Source</a>
</body>
</html>
